.login-card {
    min-height: 300px;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
}

mat-card-actions {
    text-align-last: center;
}

mat-card-content {
    text-align-last: center;
}

.card-container {
    display: flex; /* establish flex container */
    flex-direction: column; /* stack flex items vertically */
    justify-content: center; /* center items vertically, in this case */
    align-items: center; /* center items horizontally, in this case */
    height: 100vmin;
}

.login-page-logo {
    background-image: url("../../assets/logos/RockAndStormLogo.png");
    background-size: cover;
}

body {
    /* Location of the image */

    background-image: url("../../assets/backgrounds/welcome.jpg");

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;

    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color: #464646;

    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
}
@media only screen and (min-width: 320px) and (max-width: 480px) and (min-height: 640px) {
    body {
        background-image: url("../../assets/backgrounds/welcome.jpg");
        height: 100vmax;
    }
}
/* For mobile devices */
// @media only screen and (max-width: 767px) {
//     body {
//         /* The file size of this background image is 93% smaller
//        * to improve page load speed on mobile internet connections */
//     }
// }
