<body>
    <div class="card-container">
        <mat-card class="login-card">
            <mat-card-header>
                <div mat-card-avatar class="login-page-logo"></div>
                <mat-card-title>Rock And Storm Pvt. Ltd.</mat-card-title>
                <mat-card-subtitle>Login to the Portal</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <mat-label>Email ID </mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Password </mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="login()" color="primary">Login</button>
                <button mat-raised-button color="warn">Support</button>
            </mat-card-actions>
        </mat-card>
    </div>
</body>