<div class="main" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="start center">
    <mat-card>
        <mat-card-subtitle>Sheet Analysis</mat-card-subtitle>
        <mat-card-content>
            <div fxLayout="row wrap" fxLayout.lt-sm="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
                <ng-container>
                    <mat-form-field fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="40%">
                        <mat-select [formControl]="serialNumber" (selectionChange)="getData($event)"
                            placeholder="Serial Number" #singleSelect>
                            <!-- <mat-option>
                          <ngx-mat-select-search [formControl]="serialNumberCtrl" ></ngx-mat-select-search>
                      </mat-option> -->
                            <mat-option *ngFor="let data of masterData" [value]="data">
                                {{data.Sno}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <ng-container>
                    <mat-form-field fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="40%">
                        <mat-select [formControl]="invoiceNumber" placeholder="Invoice Number" #singleSelect>
                            <!-- <mat-option>
                                               <ngx-mat-select-search [formControl]="serialNumberCtrl" ></ngx-mat-select-search>
                                           </mat-option> -->
                            <mat-option *ngFor="let data of masterData" [value]="data.InvoiceNumber">
                                {{data.InvoiceNumber}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <ng-container>
                    <mat-form-field fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="40%">
                        <mat-select [formControl]="orderNumber" placeholder="Order Number" #singleSelect>
                            <!-- <mat-option>
                                           <ngx-mat-select-search [formControl]="serialNumberCtrl" ></ngx-mat-select-search>
                                       </mat-option> -->
                            <mat-option *ngFor="let data of masterData" [value]="data.OrderNumber">
                                {{data.OrderNumber}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <ng-container>
                    <mat-form-field fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="40%">
                        <mat-select [formControl]="itemCode" placeholder="Item Code" #singleSelect>
                            <!-- <mat-option>
                                               <ngx-mat-select-search [formControl]="serialNumberCtrl" ></ngx-mat-select-search>
                                           </mat-option> -->
                            <mat-option *ngFor="let data of masterData" [value]="data.ItemCode">
                                {{data.ItemCode}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="40%"></mat-card> -->
                </ng-container>
                <ng-container>
                    <mat-form-field fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="40%">
                        <mat-select [formControl]="permitNumber" placeholder="Permit Number" #singleSelect>
                            <!-- <mat-option>
                                    <ngx-mat-select-search [formControl]="serialNumberCtrl" ></ngx-mat-select-search>
                                </mat-option> -->
                            <mat-option *ngFor="let data of masterData" [value]="data.PermitNumber">
                                {{data.PermitNumber}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="40%"></mat-card> -->
                </ng-container>
                <ng-container>
                    <mat-form-field fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="40%">
                        <mat-select [formControl]="partyName" placeholder="Party Name" #singleSelect>
                            <!-- <mat-option>
                                     <ngx-mat-select-search [formControl]="serialNumberCtrl" ></ngx-mat-select-search>
                                 </mat-option> -->
                            <mat-option *ngFor="let data of masterData" [value]="data.PartyName">
                                {{data.PartyName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="40%"></mat-card> -->
                </ng-container>
                <ng-container>
                    <mat-form-field fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="40%">
                        <mat-select [formControl]="department" placeholder="Department" #singleSelect>
                            <!-- <mat-option>
                                      <ngx-mat-select-search [formControl]="serialNumberCtrl" ></ngx-mat-select-search>
                                  </mat-option> -->
                            <mat-option *ngFor="let data of masterData" [value]="data.Department">
                                {{data.Department}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="40%"></mat-card> -->
                </ng-container>
                <ng-container>
                    <mat-form-field fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="40%">
                        <mat-select [formControl]="salesMan" placeholder="SalesMan" #singleSelect>
                            <!-- <mat-option>
                                     <ngx-mat-select-search [formControl]="serialNumberCtrl" ></ngx-mat-select-search>
                                 </mat-option> -->
                            <mat-option *ngFor="let data of masterData" [value]="data.SalesMan">
                                {{data.SalesMan}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="40%"></mat-card> -->
                </ng-container>
                <ng-container>
                    <mat-form-field fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="40%">
                        <mat-select [formControl]="size" placeholder="Size" #singleSelect>
                            <!-- <mat-option>
                                     <ngx-mat-select-search [formControl]="serialNumberCtrl" ></ngx-mat-select-search>
                                 </mat-option> -->
                            <mat-option *ngFor="let data of masterData" [value]="data.Size">
                                {{data.Size}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="40%"></mat-card> -->
                </ng-container>
                <ng-container>
                    <mat-form-field fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="40%">
                        <mat-select [formControl]="quantity" placeholder="Quantity" #singleSelect>
                            <!-- <mat-option>
                                     <ngx-mat-select-search [formControl]="serialNumberCtrl" ></ngx-mat-select-search>
                                 </mat-option> -->
                            <mat-option *ngFor="let data of masterData" [value]="data.Quantity">
                                {{data.Quantity}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="40%"></mat-card> -->
                </ng-container>
                <ng-container>
                    <mat-form-field fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="40%">
                        <mat-select [formControl]="billValue" placeholder="BillValue" #singleSelect>
                            <!-- <mat-option>
                                     <ngx-mat-select-search [formControl]="serialNumberCtrl" ></ngx-mat-select-search>
                                 </mat-option> -->
                            <mat-option *ngFor="let data of masterData" [value]="data.BillValue">
                                {{data.BillValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="40%"></mat-card> -->
                </ng-container>
                <ng-container>
                    <mat-form-field fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="40%">
                        <mat-select [formControl]="exciseRevenue" placeholder="ExciseRevenue" #singleSelect>
                            <!-- <mat-option>
                                     <ngx-mat-select-search [formControl]="serialNumberCtrl" ></ngx-mat-select-search>
                                 </mat-option> -->
                            <mat-option *ngFor="let data of masterData" [value]="data.ExciseRevenue">
                                {{data.ExciseRevenue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="40%"></mat-card> -->
                </ng-container>
                <ng-container>
                    <mat-form-field fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="40%">
                        <mat-select [formControl]="vatAmount" placeholder="Vat Amount" #singleSelect>
                            <!-- <mat-option>
                                     <ngx-mat-select-search [formControl]="serialNumberCtrl" ></ngx-mat-select-search>
                                 </mat-option> -->
                            <mat-option *ngFor="let data of masterData" [value]="data.VatAmount">
                                {{data.VatAmount}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="40%"></mat-card> -->
                </ng-container>
                <ng-container>
                    <mat-form-field fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="40%">
                        <mat-select [formControl]="tcsAmount" placeholder="TCS Amount" #singleSelect>
                            <!-- <mat-option>
                                     <ngx-mat-select-search [formControl]="serialNumberCtrl" ></ngx-mat-select-search>
                                 </mat-option> -->
                            <mat-option *ngFor="let data of masterData" [value]="data.TCSAmount">
                                {{data.TCSAmount}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="40%"></mat-card> -->
                </ng-container>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="getFile()" color="primary">Load File</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <button mat-raised-button (click)="goToLogin()" color="primary">Next</button>
    </mat-card>
    <!-- <button mat-raised-button (click)="goToSheet()" color="primary">Login</button> -->
</div>