.main {
    /* Location of the image */
    min-height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-image: url("../../assets/backgrounds/welcome.jpg");

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;

    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color: #464646;

    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
}
@media only screen and (min-width: 320px) and (max-width: 480px) and (min-height: 640px) {
    .new {
        background-image: url("../../assets/backgrounds/welcome.jpg");
        overflow: hidden;
        height: 100vmax;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(36, 151, 151);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
